<!--js용량이 클수록 body 실행 느려짐 -> js는 하단에 위치
    bootstrap.js는 제이쿼리 필수 -> 부트스랩보다 제이쿼리 먼저 호출
-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>